// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/dark/index';
@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
  font-family: FontAwesome, fontawesome;
}

.btn-default {
  color:#000
}

.page{
  background-image: url('~/images/papperBg.jpg')
}

.btn-danger{
  background-color: red;
  color: #fff;
}

.btn-success{
  background-color: green;
  color: #fff;
}
